*{
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}
p{
    line-height: 1.6;
    padding: 15px 0;
}
nav{
    background-color: gray;
}
nav a{
    display: inline-block;
    text-decoration: none;
    color:white;
    padding: 5px 15px;
}
main{
    padding: 15px;
}
.content{
    width: 70%;
    float: left;
    padding-right: 50px;
}
.sidebar{
    width: 30%;
    float: left;
}
.sidebar h3{
    background-color: #222222;
    color: white;
    padding: 5px 10px;
}
/* post */
.post{
    border-bottom: 1px solid #cccccc;
    padding: 15px 15px 15px 0;
    margin-bottom: 15px;
}
.post:last-child{
    border-bottom: none;
}
.post a{
    text-decoration: none;
    color: #222;
    padding-bottom: 15px;
}
.post span{
    padding: 10px 0;
    font-style: italic;
    font-size: 12px;
    color: gray;
    display: block;
}
.post-content{
    display: flex;
    align-items: center;
}
.post-content img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
    display: inline-block;
    border-radius: 5px;
}

.post .post-single{
    display: flex;
    flex-direction: column;
}
.post-single img{
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.post-latest{
    list-style: none;
}
.post-latest li{
    padding: 15px 5px;
    border-bottom: 1px solid #cccccc;
}
.post-latest li:last-child{
    border-bottom: none;
}
.post-latest li a{
    text-decoration: none;
    color:blue;
}



.login-container{
    color:white;
    background-color: teal;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.login-form{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 15px;
}
.login-form label{
    margin-bottom: 5px;
}
.login-form input{
    margin-bottom: 15px;
    padding: 5px 10px;
}
.login-form button{
    padding: 3px 5px;
}
.text-error{
    color: red;
    padding: 5px 0;
}

form label{
    display: block;
    margin-bottom: 10px;
}
form input{
    display: block;
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 15px;
}
form textarea{
    width: 100%;
    margin-bottom: 15px;
}
form select{
    margin-bottom: 15px;
}
form button{
    display: block;
    padding: 3px 6px;
    margin-bottom: 15px;
}